{% extends 'base.html' %}

{% block content %}
<div class="containe mt-5 p-4">
    <div class="card ">
                    <div class="card-header align-items-center" style="background-color: rgba(127, 23, 169, 0.2);">
                        <h5 style="flex-grow: 1; text-align: center;">  اضف مكونات {{Recipenme}}</h5>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <table>
                                        <thead>
                                            <td class="p-2">المكون</td>
                                            <td class="p-2">الكمية</td>
                                        </thead>
                                    <form action="" method="post" enctype="multipart/form-data" id="one">
                                        {% csrf_token %}
                                        {{ formset.management_form }}
                                                
                                               
                                                    
                                                    {% for form in formset %}   
                                                    {{form.errors}}  
                                                    <tr>
                                                    <td class="p-2">{{ form.IngredientID }}</td>
                                                    <td class="p-2">{{ form.Quantity }}</td>
                                                    </tr>
                                                    {% endfor %}

                                                </table>
                                         <div class="text-start">
                                            <input type="hidden" name="Save">
                                            <button type="submit" class="btn btn-success text-end" >حفظ</button>
                                            

                                         </div>       
                                    </form>
                                    <a class="btn "  style="background-color: 	rgb(208,199,182); " href="{% url 'add_ingredient' %}?next={{ request.path|urlencode }}">اضافه منتج جديده</a>

                                </div>
                            </div>
                        </div>
                  
        </div> 
    </div>
</div>





{% endblock content %}